@media screen and (min-width:700px ){
  html { 
    background: url("/Images/TitlePage.png") no-repeat center fixed;
    background-size: cover;
    }  
}

@media screen and (max-width:700px ){
  .main{
    background-color: white;
    margin: none;
    border: none;
    max-width: 100vb;
  }
}
@media screen and (min-width:700px ){
  .main{
    background-color: white;
    margin: none;
    border: none;
    margin-top: 30vh;
    max-width: 1200px;
  }
}

  /*Titel*/
h1{
  font-family: 'Urbanist', sans-serif;
  letter-spacing: 5px;
  font-weight: 100;
  text-align: left;
  font-size: 7vh;
  line-height: 7vh;
  box-sizing: border-box;
}
  /*Untertitel*/
h2{
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
  text-align: left;
  font-size: 1.4em;
  line-height: 1.3em;
  max-width: 720px;
  box-sizing: border-box;
}
  /*Zitate*/
h3{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  font-size: 1.7em;
  line-height: 1em;
  max-width: 320px;
  padding-left: 25px;
  box-sizing: border-box;
}
  /*Bildbeschreibung*/
h4{   
  display: relative;
  font-family: 'Urbanist', sans-serif;
  font-weight: 700; 
  text-align: left;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 10px;
  box-sizing: border-box;
  padding-right: 1.5%;
  text-align: right;
}
  /*FEATURE Text*/
h5{
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
  color: white  ;
  box-sizing: border-box;
}
  /*Fliesstext*/
p{
  display: inline;
  margin:auto;
  margin-bottom: 0%;
  text-align: left;
  font-size: 1em;
  line-height: 1.3em;
  box-sizing: border-box;
  max-width: 500px;
  
}
.firstLetter { 
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
  font-size: 6em;
  line-height: 0.5em;
  float:left;
}

  /*Grid Stuff*/

  @media screen and (max-width:509px ){
    .grid1{
      display: grid;
      grid-template-columns: repeat(3, 1fr) ;
      grid-template-rows: repeat(9, 1fr);
      gap: 10px;
      width: 90%;
    }
  }
  @media screen and (min-width:509px ){
    .grid1{
      display: grid;
      grid-template-columns: repeat(3, 1fr) ;
      grid-template-rows: repeat(11, 1fr);
      gap: 10px;
      width: 90%;
    }
  }
  @media screen and (min-width:700px ){
    .grid1{
      display: grid;
      grid-template-columns: repeat(12, 1fr) ;
      grid-template-rows: repeat(12, 1fr);
      gap: 10px;
      width: 90%;
    }
  }

  @media screen and (max-width:700px ){
    .grid2{
      width: 90%;
    }
  }
@media screen and (min-width:700px ){
  .grid2{
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    gap: 10px;
    width: 90%;
  }
}

@media screen and (min-width:700px ){
  .grid3{
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    gap: 10px;
    width: 90%;
  }
}

@media screen and (max-width:700px ){
  .overlap{
    z-index: 2;
    padding: 10px;
  }
}
@media screen and (min-width:700px ){
  .overlap{
    z-index: 2;
  }
}
  /*Horizontal*/
  @media screen and (max-width:700px ){
    .title{
      z-index: 2;
      grid-column: 2/4;
      grid-row: 3/5;
    }
  }
  @media screen and (min-width:700px ){
    .title{
      grid-column: 5/12;
      grid-row: 3/5;
    }
  }

  @media screen and (max-width:700px ){
    .left{
      grid-column: 1/3;
    }
  }
  @media screen and (min-width:700px ){
    .left{
      grid-column: 1/5;
    }
  }

  @media screen and (max-width:700px ){
    .leftpic{
      width: 100%;
      margin-left: auto;
      margin-right: auto;

    }
  }
  @media screen and (min-width:700px ){
    .leftpic{
      grid-column: 1/11;
    }
  }

  @media screen and (max-width:700px ){
    .halfleft{
      grid-column: 1/3;
    }
  }
  @media screen and (min-width:700px ){
    .halfleft{
      grid-column: 2/7;
    }
  }

  @media screen and (max-width:700px ){
    .middle{
      grid-column: 1/3;
    }
  }
  @media screen and (min-width:700px ){
    .middle{
      grid-column: 7/12;
    }
  }

  @media screen and (max-width:700px ){
    .right{
      grid-column: 1/-1;
      grid-row: 5/11;
    }
  }
  @media screen and (min-width:700px ){
    .right{
      grid-column: 3/-1;
      grid-row: 5/11;
    }
  }


  /*Vertikal*/

@media screen and (max-width:509px ){
  .long{
    grid-row: 2/9;
  }
  }
@media screen and (min-width:509px ){
  .long{
    grid-row: 2/11;
  }
}
@media screen and (min-width:700px ){
  .long{
    grid-row: 2/11;
  }
}
@media screen and (max-width: 509px) {
  .text{
    grid-row: 1/2;
  }
}
@media screen and (min-width:509px){
  .text{
    grid-row: 1/2;
    column-count: 2;
  }
}
@media screen and (min-width: 700px) {
  .text{
    grid-row: 1/2;
    column-count: 1;
  }
}
.text{
  border-left: solid black 2px;
  padding: 7px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width:700px){
  .quote{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
  }
}
.quote{
  box-sizing: border-box;
  color: white;
  padding: 40px;
  max-width: 400px;
}

@media screen and (min-width: 700px) {
  .rightQ{
    position: relative;
    grid-column: 8/-1;

  }
}
@media screen and (min-width: 700px) {
  .leftQ{
    position: relative;
    grid-column: 1/6;

  }
}
@media screen and (min-width: 700px) {
  .top{

    top: 40%;
  }
}
@media screen and (min-width: 700px) {
  .bottom{
    margin-top: auto;
    margin-bottom: auto;
    bottom: -60%;
  }
}
.blue{
  background-color:#5c8397;
}
.grey{
  background-color:#5d5c5c;
}
.red{
  background-color: #c67b68;
}
a {
  border: none;
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
  font-size: 1.7em;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonBottom {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
a:hover, a:active {
  background-color: #555555;
  color: white;
} 

  /*Animation Stuff*/

.box{
  z-index: 1;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: 0%;
  height: 0%;
  transform-origin: center;
  animation: 1.5s anim-box ease-in-out forwards;
}
@keyframes anim-box {
  0% {
    width: 1%;
    height: 0%;
  }
  50% {
    width: 1%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

.word{
  display: flex; 
  justify-content: space-evenly;
  opacity: 0;
  width: 0%;
  animation: 1.5s anim-word ease-in-out forwards;
}
@keyframes anim-word {
  0% {
    opacity: 0;
    width: 0%;
  }
  50%{
    opacity:0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

.lineUp {
  opacity: 0;
  margin: 0 auto;
   animation: 3s anim-lineUp ease-out 1s forwards;
}
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }